.box{
    border: 1px solid;
    border-color:  rgba(0, 0, 0, 0.25);
}

#container{
    display: grid;
    height: 750px;
    width: 750px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.painted{
    background-color: black;
    border-color: black;
}